Source: dotnet-bootstrap-deps
Priority: optional
Maintainer: Jörg Sommer <joerg@alea.gnuu.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Section: devel
Homepage: https://www.microsoft.com/net/
#Vcs-Git: https://anonscm.debian.org/collab-maint/dotnet-core-setup-2.0.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/dotnet-core-setup-2.0.git

Package: dotnet-bootstrap-deps
Architecture: all
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
